/*Hero Image*/
:root {
	display: flex;
	align-items: center;
	justify-content: center;
	font-family: sans-serif;
	line-height: 1.5;
	min-height: 100vh;
	flex-direction: column;
	margin: 0;
	background-size: cover;
}

/*NavBar*/
header{
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	background-color: white;
	padding: 10px 0;
	text-align: cetnter;
	height: 60px;
	border-bottom: 5px solid #333;
	letter-spacing: 2px;
}
header img{
	width: 100px;
	height: 60px;
	object-fit: contain;
	position: absolute;
	margin-left: 20px;
}
header nav ul{
	list-style-type: none;
	padding: 0;
	text-align: center;
}
header nav ul li{
	display: inline-block;
	margin: 0 25px;
}
header nav ul li a{
  padding: 0px 10px;
	text-decoration: none;
	color: black;
}

/*Hero Image*/
footer{
	position: fixed;
	left: 0;
	bottom: 0;
	width: 100%;
	background-color: #333;
	padding: 10px 0;
	color: white;
	text-align: center;
}

/*Hero Image*/